---
# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
BasedOnStyle: Mozilla
IndentWidth: 4
AccessModifierOffset: 0
ColumnLimit: 128
UseTab: Never
UseCRLF: false

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations : Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: BeforeComma
ContinuationIndentWidth: 4
InsertBraces: true
PackConstructorInitializers: NextLine
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
